*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*header color*/
header {
    background-color: blueviolet;
}
/* main color main color */
main {
    background-color: blue;
}
/* footer color */
footer {
    background-color: chartreuse;
}